
header{
    text-align: center;
    background-color: darkblue;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    width: 200px;
    background-color:#f1f1f1;
    font-family:fantasy;
    text-align: center;
}

li a{
    display:block;
    color: #000;
    padding: 8px 16px;
    text-decoration:none;
    text-align: center;
    text-transform: capitalize;
    background-color: orangered;
}

h1{
    display: flex;
    color:silver;
    text-size-adjust: 100px;
    justify-content: space-between;
    font-family:fantasy;
    position:fixed;
    top: 30px;
    right: 380px;
    text-decoration-line:underline;
    text-align:right;
    
}


h2{
    display: flex;
    color:gray;
    text-size-adjust: 50px;
    font-family:fantasy;
    text-align: center;
    position:relative;
    bottom: 30px;
    left:1px;
    
}

input, select, button {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    font-family: fantasy;
    box-sizing: border-box;

} 


button {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    color: blue;
    font-family: fantasy;
}

.container{
    
    padding: 20px;
    width: 400px;
    height: 500px;
    margin: 1%;
    display: flex;
    justify-content:flex-start;
    text-align: center;
    
}

.content{
    background: orangered;
    padding: 20px;
    width: 300px;
    height: 60px;
    margin: 1%;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: orangered;
}

.total{
    display: flex;
    margin: 1%;
    justify-content: space-around;
    flex-wrap: wrap;
} 







